@import "tailwindcss";

:root {
  --background: #fdfafa;
  --foreground: #f7f0f0;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #fcf5f5;
    --foreground: #95ee07;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}